.carousel-inner {
    > .carousel-item {
        z-index: 1;
        > img {
            height: 92vh;
        }
    }
}

.carousel-text{
    // position: absolute;
    // margin-top: 20vh;
    // margin: 10vw;
    z-index: 100;
    
    .banner-text{
        font-family: 'Libre Barcode 39 Text', cursive;
        font-size: 8rem;

        &:hover {
            color: white !important;
        }
    }

    .arrow-down{
        font-size: 35rem !important;
        color:$nord4;
        animation: Arrow-move infinite alternate ease 0.9s;
    }
}

.slider{
    width: auto;
    height: 90vh;
    background: url("https://wallpapercave.com/wp/wp5411734.jpg") center center no-repeat;
    background-size: cover;
}

.imagensvg{
    width: 42vw;
    height: auto;
}

.mt-9{
    margin-top: 30vh;
}
