.image-projects {
    width: auto;
    height: 40vh;
}

.shadow-box {
    box-shadow: 2px 8px 11px -1px rgb(46,52,64);
    -webkit-box-shadow: 2px 8px 11px -1px rgb(46,52,64);
    -moz-box-shadow: 2px 8px 11px -1px rgb(46,52,64);
}

.shadow-box-footer{
    box-shadow: 0px -7px 17px -1px rgb(46,52,64);
    -webkit-box-shadow: -1px -7px 17px -1px rgb(46,52,64);
    -moz-box-shadow: -1px -7px 17px -1px rgb(46,52,64);
}

#skills{
    background: none;
}

.card-gradient{
    background: #2e3440;
    background: linear-gradient(184deg, #2e3440 0%, #2e3440 35%, #2e3440 100%);
    border: none;
}

.card-outline-nord{
    background-color: white !important;
    border: 1px solid $nord1 !important;
    color:$nord1 !important;

    .card-header{
        border-bottom: 1px solid $nord1 !important;
        background-color: white !important;
    }

    .card-body{
        color:$nord1 !important;;
    }

    .card-footer{
        border-top: 1px solid $nord1 !important;
        background-color: white !important;
    }
}