.carousel-inner {
    > .carousel-item {
        z-index: 1;
        > img {
            height: 92vh;
        }
    }
}

.carousel-text{
    z-index: 100;
    
    .banner-text{
        font-family: 'Libre Barcode 39 Text', cursive;
        font-size: 8rem;

        &:hover {
            color: $nord0 !important;
        }
    }

    .arrow-down{
        font-size: 35rem !important;
        animation: Arrow-move infinite alternate ease 0.9s;
    }
}

.slider{
    width: auto;
    height: 90vh;
    // background: url("https://wallpaperaccess.com/full/806443.jpg") center center no-repeat;
    background-color: white;
    // background-size: cover;
}

.imagensvg{
    width: 44vw;
    height: auto;
}

.mt-9{
    margin-top: 30vh;
}
