// *Nord Pallete
// @import "../../../node_modules/nord/src/sass/nord.scss";

// *Colors-Palette (Nord)

$nord0: #2E3440;

$nord1: #3B4252;

$nord2: #434C5E;

$nord3: #4C566A;

$nord4: #D8DEE9;

$nord5: #E5E9F0;

$nord6: #ECEFF4;

$nord7:  #8FBCBB;

$nord8:  #88C0D0;

$nord9:  #81A1C1;

$nord10: #5E81AC;

$nord11: #BF616A;

$nord12: #D08770;

$nord13: #EBCB8B;

$nord14: #A3BE8C;

$nord15: #B48EAD;

// * Defaults 
// ** Backgrounds
.bg-nord0{
    background-color: $nord0 !important;
}
.bg-nord1{
    background-color: $nord1 !important;
}
.bg-nord2{
    background-color: $nord2 !important;
}
.bg-nord3{
    background-color: $nord3 !important;
}
.bg-nord4{
    background-color: $nord4 !important;
}
.bg-nord5{
    background-color: $nord5 !important;
}
.bg-nord6{
    background-color: $nord6 !important;
}
.bg-nord7{
    background-color: $nord7 !important;
}
.bg-nord8{
    background-color: $nord8 !important;
}
.bg-nord9{
    background-color: $nord9 !important;
}
.bg-nord10{
    background-color: $nord10 !important;
}
.bg-nord11{
    background-color: $nord11 !important;
}
.bg-nord12{
    background-color: $nord12 !important;
}
.bg-nord13{
    background-color: $nord13 !important;
}
.bg-nord14{
    background-color: $nord14 !important;
}
.bg-nord15{
    background-color: $nord15 !important;
}

// ** Fonts
.text-nord0{
    color: $nord0 !important;
}
.text-nord1{
    color: $nord1 !important;
}
.text-nord2{
    color: $nord2 !important;
}
.text-nord3{
    color: $nord3 !important;
}
.text-nord4{
    color: $nord4 !important;
}
.text-nord5{
    color: $nord5 !important;
}
.text-nord6{
    color: $nord6 !important;
}
.text-nord7{
    color: $nord7 !important;
}
.text-nord8{
    color: $nord8 !important;
}
.text-nord9{
    color: $nord9 !important;
}
.text-nord10{
    color: $nord10 !important;
}
.text-nord11{
    color: $nord11 !important;
}
.text-nord12{
    color: $nord12 !important;
}
.text-nord13{
    color: $nord13 !important;
}
.text-nord14{
    color: $nord14 !important;
}
.text-nord15{
    color: $nord15 !important;
}


