.coding-svg{
    width: 40vw;
    height: auto;
    margin-top: -10vh;
}

.text-game{
    font-family: 'Press Start 2P', cursive;
    transition: all .5s ease;
    &:hover{
        color: $nord11 !important;
    }
}