// *Imports files
@import "partials";

// *Imports urls
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

// *Global configurations
@font-face {
  font-family: iosevka;
  src: url("../assets/fonts/Iosevka\ Nerd\ Font\ Complete.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: iosevka;
}

p {
  color: $nord1;
}

.main-text-code{
  font-size: 1.5rem;
}

.title-text{
  font-family: 'Oswald', sans-serif;
}

.important-text{
  background: -webkit-linear-gradient($nord15, $nord11);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.important-link{
  background: -webkit-linear-gradient($nord15, $nord11);
  font-size: 1rem;
  text-transform: uppercase !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease;
  &:hover{
    animation: rainbow-text infinite alternate ease 0.4s;
  }
}

body::-webkit-scrollbar {
  width: 0.5em !important;
}

body::-webkit-scrollbar-track {
  background-color: $nord4;
}

body::-webkit-scrollbar-thumb {
  background-color: $nord1;
}

ul{
  text-decoration: none;
  list-style: none;
}

.oswald{
  font-family: 'Oswald', sans-serif;
}
